td[data-id="next"] {
  width: 100px;
  text-align: center;
}

table p {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

tr.complete {
  background-color: var(--complete-background);
  color: var(--complete-text) !important;
}
tr.complete [data-id="val"] {
  text-decoration: line-through;
}
