table.center td {
  text-align: center;
}
div.complete {
  background-color: var(--complete-background);
  color: var(--complete-text) !important;
}

/* titles */
h3#resets,
h3#wizards-vault,
h3#crafting,
h3#manual {
  margin-block-end: 0.25;
  padding: 0.5rem;
}
h4#wizards-vault-daily,
h4#wizards-vault-weekly,
h4#wizards-vault-special {
  margin-block-end: 0.25rem;
  padding: 0.5rem;
  background-color: var(--table-border-color);
}
div.manual h4 {
  margin-block-end: 0.25rem;
  padding: 0.5rem;
  background-color: var(--table-border-color);
}

div.wizards-vault-daily {
  grid-area: wv-daily;
}
div.wizards-vault-weekly {
  grid-area: wv-weekly;
}
div.wizards-vault-special {
  grid-area: wv-special;
}

div.table-wizards-vault {
  display: grid;
  row-gap: 0.25rem;
}

div.table-wizards-vault div[data-id="row"] {
  display: grid;
  grid-template-columns: 1fr auto 5fr;
  column-gap: 0.5rem;
  grid-template-areas: "complete type name";
  padding: 0.5rem;
  border-bottom: 5px solid var(--table-border-color);
}

div.table-wizards-vault div[data-id="row"] div[data-id="complete"] {
  grid-area: complete;
  place-self: center;
}
div.table-wizards-vault div[data-id="row"] div[data-id="type"] {
  grid-area: type;
  place-self: center;
}
div.table-wizards-vault div[data-id="row"] div[data-id="type"]::after {
  content: ":";
}
div.table-wizards-vault div[data-id="row"] div[data-id="name"] {
  grid-area: name;
}

div.table-crafting {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

div.table-crafting div[data-id="row"] {
  padding: 0.5rem;
  width: 100%;
  border-bottom: 5px solid var(--table-border-color);
  display: grid;
}
div.table-crafting div[data-id="row"] div {
  place-self: center;
  text-align: center;
}

div.manual {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

div.table-manual {
  display: grid;
  row-gap: 0.25rem;
  height: fit-content;
}

div.table-manual div[data-id="row"] {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  column-gap: 0.5rem;
  padding: 0.5rem;
  border-bottom: 5px solid var(--table-border-color);
}

div.table-manual div[data-id="row"] div:first-child,
div.table-manual div[data-id="row"] div:nth-child(2) {
  place-self: center;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  div.wizards-vault {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    grid-template-areas:
      "wv-daily wv-daily"
      "wv-weekly wv-special";
  }

  div.table-crafting {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1280px) {
  div.table-crafting {
    grid-template-columns: repeat(5, 1fr);
  }
  div.manual {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1580px) {
  div.wizards-vault {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "wv-daily wv-weekly wv-special";
  }
  div.manual {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
